h1 {
  color: brown;
  font-weight: bolder;
  font-style: italic;
}

.page {
  text-align: center;
  margin: 20px;
  padding: 3px;
  border-top: 28px;
  margin-top: 2px;
  background-color: grey;
}

body {
  background-image: url("../images/triangle.jpg");
}

.type {
  font-style: italic;
  font-weight: bold;
  color: orange;
}

.use {
  color: blue;
  font-style: italic;
}

#display {
  color: blue;
  float: right;
  font-weight: bold;
  font-size: 100px;
}
